body {
  height: 90vh;
  background-image: url("./assets/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
